{% extends '_base.html' %}

{% block page_title %}
Home Page
{% endblock %}

{% block content %}
<h1>Home Page</h1>
{% endblock %}










{#{% extends '_base.html' %}#}
{##}
{#{% block page_title %}Home Page{% endblock %}#}
{##}
{#{% block content %}}#}
{#    <h1>Home Page</h1>#}
{#    {% if user.is_authenticated %}#}
{#        <p> Welcome {{ user.username }}</p>#}
{#        <form action="{% url 'logout' %}" method="post">#}
{#            {% csrf_token %}#}
{#            <button class="btn btn-success" type="submit">Log Out</button>#}
{#        </form>#}
{#    {% else %}#}
{#        <a href="{% url 'login:login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>#}
{#    {% endif %}#}
{#{% endblock %}#}